###  ***Loading datasets***

In [4]:
import pandas as pd

energy_efficiency_df = pd.read_csv('/Users/shakthimaha/Downloads/Hackthon_KCL/Energy effieciency/LBSM_All_London.csv')
fuel_poverty_df = pd.read_excel('/Users/shakthimaha/Downloads/Hackthon_KCL/FuelPoverty_2009-2011/fuel poverty.xlsx', sheet_name='LSOA 2009 - 2011')
dwelling_type_df = pd.read_excel('/Users/shakthimaha/Downloads/Hackthon_KCL/built period + house types/dwelling-build-period and-property-type-2014-lsoa-msoa.xlsx', sheet_name='Table 2.4')
dwelling_build_period_df = pd.read_excel('/Users/shakthimaha/Downloads/Hackthon_KCL/built period + house types/dwelling-build-period and-property-type-2014-lsoa-msoa.xlsx', sheet_name='Table 4.4')
income_tax_payers_df = pd.read_excel('/Users/shakthimaha/Downloads/Hackthon_KCL/Income + Number of individiual/income-of-tax-payers.xlsx', sheet_name='Total Income')
gas_consumption_df = pd.read_excel('/Users/shakthimaha/Downloads/Hackthon_KCL/Gas_Consumption_Domestic/LSOA_domestic_gas_2010-2023.xlsx', sheet_name='2011')
elec_consumption_df = pd.read_excel('/Users/shakthimaha/Downloads/Hackthon_KCL/Electricity_Consumption_Domestic/LSOA_domestic_elec_2010-2023.xlsx', sheet_name='2011')
zcored_data_df = pd.read_csv('/Users/shakthimaha/Downloads/Hackthon_KCL/zcored_data.csv')

/var/folders/5n/l1swydn11bg6c9v7_60kdfl00000gn/T/ipykernel_8853/2260447970.py:3: DtypeWarning: Columns (22,23,26,28,32,34,36,38,40,42) have mixed types. Specify dtype option on import or set low_memory=False.
  energy_efficiency_df = pd.read_csv('/Users/shakthimaha/Downloads/Hackthon_KCL/Energy effieciency/LBSM_All_London.csv')

In [5]:
fuel_poverty_df.columns = fuel_poverty_df.iloc[0]  # Set the first row as column names
fuel_poverty_df = fuel_poverty_df[1:].reset_index(drop=True)  # Drop the first row and reset index
print(fuel_poverty_df.columns)

Index([  'LSOA 2001 Code',   'LSOA 2001 Name',          'LA Name',
                   2009.0,             2010.0, 'Fuelpoverty-2011'],
      dtype='object', name=0)

In [6]:
income_tax_payers_df.columns = income_tax_payers_df.iloc[0]  # Set the first row as column names
income_tax_payers_df = income_tax_payers_df[1:].reset_index(drop=True)  # Drop the first row and reset index
print(income_tax_payers_df.columns)

Index(['Code', 'Area', 'Number of Individuals', 'Mean £', 'Median £',
       'Number of Individuals', 'Mean £', 'Median £', 'Number of Individuals',
       'Mean £', 'Median £', 'Number of Individuals', 'Mean £', 'Median £',
       'Number of Individuals', 'Mean £', 'Median £', 'Number of Individuals',
       'Mean £', 'Median £', 'Number of Individuals', 'Mean £', 'Median £',
       'Number of Individuals', 'Mean £', 'Median £', 'Number of Individuals',
       'Mean £', 'Median £', 'Number of Individuals', 'Mean £', 'Median £',
       'Number of Individuals', 'Mean £', 'Median', 'Number of Individuals',
       'Mean £', 'Median £ 2011-12', 'Number of Individuals2011-12', 'Mean £',
       'Median £', 'Number of Individuals', 'Mean £', 'Median £',
       'Number of Individuals', 'Mean £', 'Median £', 'Number of Individuals',
       'Mean £', 'Median £', 'Number of Individuals', 'Mean £', 'Median £',
       'Number of Individuals', 'Mean £', 'Median £', 'Number of Individuals',
       'Mean £', 'Median £', 'Number of Individuals', 'Mean £', 'Median £',
       'Number of Individuals', 'Mean £', 'Median £', 'Number of Individuals',
       'Mean £', 'Median £', 'Number of Individuals', 'Mean £', 'Median £'],
      dtype='object', name=0)

In [7]:
gas_consumption_df.columns

Index(['Local authority code', 'Local authority', 'MSOA code',
       'Middle layer super output area', 'LSOA code',
       'Lower layer super output area', 'Number\nof meters\n',
       'Total \nconsumption\n(kWh)', 'Mean consumption',
       'Median consumption (kWh per meter)'],
      dtype='object')

In [8]:
elec_consumption_df.columns

Index(['Local authority code', 'Local authority', 'MSOA code',
       'Middle layer super output area', 'LSOA code',
       'Lower layer super output area', 'Number\nof meters\n',
       'Total \nconsumption\n(kWh)', 'Mean consumption\n',
       'Median consumption (kWh per meter)'],
      dtype='object')

In [9]:
zcored_data_df.columns

Index(['LSOA11CD', 'LSOA11NM', 'geometry', 'Fuel_Poverty_2011',
       'Mean_Elec_Consumption', 'Mean_Gas_Consumption', 'Avg_Build_Year',
       'Median_Annual_household_income', 'Density_of_Households',
       'households_with_resident_percentage',
       'households_no_resident_percentage', 'whole_house_detached_percentage',
       'whole_house_semi_detached_percentage',
       'whole_house_terraced_percentage',
       'flat_maisonette_apartment_percentage',
       'Revised_Energy_Efficiency_Rating_Numeric',
       'Revised_Energy_Efficiency'],
      dtype='object')

In [10]:

# Rename LSOA column for consistency
energy_efficiency_df.rename(columns={'LSOA': 'LSOA11CD'}, inplace=True)
fuel_poverty_df.rename(columns={'LSOA 2001 Code': 'LSOA11CD'}, inplace=True)
dwelling_type_df.rename(columns={'Area Code': 'LSOA11CD'}, inplace=True)
dwelling_build_period_df.rename(columns={'Area Code3': 'LSOA11CD'}, inplace=True)
income_tax_payers_df.rename(columns={'Code': 'LSOA11CD'}, inplace=True)
gas_consumption_df.rename(columns={'LSOA code': 'LSOA11CD'}, inplace=True)
elec_consumption_df.rename(columns={'LSOA code': 'LSOA11CD'}, inplace=True)

In [11]:
for df_name, df in {
    'energy_efficiency_df': energy_efficiency_df,
    'fuel_poverty_df': fuel_poverty_df,
    'dwelling_type': dwelling_type_df,
    'dwelling_build_period_df': dwelling_build_period_df,
    'income_tax_payers_df': income_tax_payers_df,
    'gas_consumption_df': gas_consumption_df,
    'elec_consumption_df': elec_consumption_df,
    'zcored_data_df': zcored_data_df,
}.items():
    if 'LSOA11CD' not in df.columns:
        print(f"Warning: {df_name} does not contain 'LSOA11CD'")

In [12]:
# Check the number of unique LSOA codes in the zcored_data_df
num_lsoa_codes = zcored_data_df['LSOA11CD'].nunique()
print(f"Number of unique LSOA codes: {num_lsoa_codes}")

Number of unique LSOA codes: 4642

In [13]:
# Check the number of rows in the zcored_data_df
num_rows = zcored_data_df.shape[0]
print(f"Number of rows in the zcored_data_df: {num_rows}")

Number of rows in the zcored_data_df: 4642

### **Merging the dataset**

In [14]:
import pandas as pd

# Ensure there are no duplicates in each dataset before merging
energy_efficiency_df = energy_efficiency_df.drop_duplicates(subset=['LSOA11CD'])
income_tax_payers_df = income_tax_payers_df.drop_duplicates(subset=['LSOA11CD'])
fuel_poverty_df = fuel_poverty_df.drop_duplicates(subset=['LSOA11CD'])
dwelling_type_df = dwelling_type_df.drop_duplicates(subset=['LSOA11CD'])
dwelling_build_period_df = dwelling_build_period_df.drop_duplicates(subset=['LSOA11CD'])
gas_consumption_df = gas_consumption_df.drop_duplicates(subset=['LSOA11CD'])
elec_consumption_df = elec_consumption_df.drop_duplicates(subset=['LSOA11CD'])
zcored_data_df = zcored_data_df.drop_duplicates(subset=['LSOA11CD'])

# Select relevant columns (keep this as before)
energy_efficiency_df = energy_efficiency_df[['LSOA11CD', 'AGG_RVEPC_CURRENT_ENERGY_EFFICIENCY_BY_FLOORAREA', 'AGG_RVEPC_CURRENT_ENERGY_RATING_BY_FLOORAREA']]
income_tax_payers_df = income_tax_payers_df[['LSOA11CD', 'Median £ 2011-12', 'Number of Individuals2011-12']]
fuel_poverty_df = fuel_poverty_df[['LSOA11CD', 'Fuelpoverty-2011']]
dwelling_type_df = dwelling_type_df[['LSOA11CD', 'Flat/Maisonette Total', 'House Terraced Total', 'House Semi-detached Total', 'House Detached Total']]
dwelling_build_period_df = dwelling_build_period_df[['LSOA11CD', 'Pre 1900', '1900 to 1918', '1919 to 1929', '1930 to 1939', '1945 to 1954', '1955 to 1964', 
                              '1965 to 1972', '1973 to 1982', '1983 to 1992', '1993 to 1999', '2000 to 2009', '2010 to 2012']]
gas_consumption_df = gas_consumption_df[['LSOA11CD', 'Median consumption (kWh per meter)']]
elec_consumption_df = elec_consumption_df[['LSOA11CD', 'Median consumption (kWh per meter)']]
zcored_data_df = zcored_data_df[['LSOA11CD', 'LSOA11NM', 'geometry']]

# Merge all datasets on LSOA11CD (with left join to retain all rows from zcored_data_df)
merged_df = zcored_data_df \
    .merge(energy_efficiency_df, on='LSOA11CD', how='left') \
    .merge(income_tax_payers_df, on='LSOA11CD', how='left') \
    .merge(fuel_poverty_df, on='LSOA11CD', how='left') \
    .merge(dwelling_type_df, on='LSOA11CD', how='left') \
    .merge(dwelling_build_period_df, on='LSOA11CD', how='left') \
    .merge(gas_consumption_df, on='LSOA11CD', how='left') \
    .merge(elec_consumption_df, on='LSOA11CD', how='left')

# Display merged DataFrame to check the first few rows
print(merged_df.head())

# Check the shape of the merged dataset to confirm the number of rows
print(f"Number of rows in merged dataset: {merged_df.shape[0]}")

# Optionally, save the final merged dataset to a CSV
output_file = '/Users/shakthimaha/Downloads/Hackthon_KCL/merged_data.csv'
merged_df.to_csv(output_file, index=False)

print(f"Merged data saved to {output_file}")

    LSOA11CD                   LSOA11NM  \
0  E01000001        City of London 001A
1  E01000002        City of London 001B
2  E01000003        City of London 001C
3  E01000005        City of London 001E
4  E01000006  Barking and Dagenham 016A

                                            geometry  \
0  POLYGON ((-0.097262816705372 51.52157881522085...
1  POLYGON ((-0.0881031757855782 51.5194123775888...
2  POLYGON ((-0.0967598383726936 51.5232512920432...
3  POLYGON ((-0.0732048670708826 51.5100037359235...
4  POLYGON ((0.0911789815733874 51.53908634564686...

   AGG_RVEPC_CURRENT_ENERGY_EFFICIENCY_BY_FLOORAREA  \
0                                              64.0
1                                              55.0
2                                               NaN
3                                              61.0
4                                               NaN

  AGG_RVEPC_CURRENT_ENERGY_RATING_BY_FLOORAREA Median £ 2011-12  \
0                                            D              NaN
1                                            E              NaN
2                                          NaN              NaN
3                                            D              NaN
4                                          NaN              NaN

  Number of Individuals2011-12 Fuelpoverty-2011 Flat/Maisonette Total  \
0                          NaN                4                  1040
1                          NaN              3.8                  1220
2                          NaN              4.6                   910
3                          NaN              3.3                   690
4                          NaN              8.9                   140

  House Terraced Total  ... 1945 to 1954 1955 to 1964 1965 to 1972  \
0                   10  ...            -            -          850
1                   50  ...            -           70          910
2                    -  ...            -           20          780
3                    -  ...            -          140          110
4                  380  ...           30            -            -

  1973 to 1982 1983 to 1992 1993 to 1999 2000 to 2009 2010 to 2012  \
0           10            -           50           80            -
1            -           10            -            -          280
2            -            -           60           40            -
3          160           80            -           10           80
4            -            -          130           10            -

  Median consumption (kWh per meter)_x Median consumption (kWh per meter)_y
0                               5444.0                               3790.6
1                              15651.0                               3732.7
2                               7530.0                               2150.8
3                               3871.5                               2211.4
4                              15512.5                               3934.4

[5 rows x 26 columns]
Number of rows in merged dataset: 4642
Merged data saved to /Users/shakthimaha/Downloads/Hackthon_KCL/merged_data.csv

### ***cleaning the merged dataset***

In [15]:
import geopandas as gpd
import pandas as pd

# Load dataset
df = pd.read_csv("/Users/shakthimaha/Downloads/Hackthon_KCL/merged_data.csv")

# Define new column names
new_column_names = {
    "LSOA11CD": "Lsoa_code",
    "LSOA11NM": "Lsoa_name",
    "geometry": "Geometry",
    "AGG_RVEPC_CURRENT_ENERGY_EFFICIENCY_BY_FLOORAREA": "energy_efficiency_floor_area",
    "AGG_RVEPC_CURRENT_ENERGY_RATING_BY_FLOORAREA": "energy_rating_floor_area",
    "Median £ 2011-12": "median_income_2011_12",
    "Number of Individuals2011-12": "number_of_individuals_2011_12",
    "Fuelpoverty-2011": "fuel_poverty_2011",
    "Flat/Maisonette Total": "flat_maisonette_total",
    "House Terraced Total": "house_terraced_total",
    "House Semi-detached Total": "house_semi_detached_total",
    "House Detached Total": "house_detached_total",
    "Pre 1900": "built_pre_1900",
    "1900 to 1918": "built_1900_1918",
    "1919 to 1929": "built_1919_1929",
    "1930 to 1939": "built_1930_1939",
    "1945 to 1954": "built_1945_1954",
    "1955 to 1964": "built_1955_1964",
    "1965 to 1972": "built_1965_1972",
    "1973 to 1982": "built_1973_1982",
    "1983 to 1992": "built_1983_1992",
    "1993 to 1999": "built_1993_1999",
    "2000 to 2009": "built_2000_2009",
    "2010 to 2012": "built_2010_2012",
    "Median consumption (kWh per meter)_x": "Gas median consumption (kwh)",
    "Median consumption (kWh per meter)_y": "Electricity median_consumption (kwh)",
}

# Rename columns
df.rename(columns=new_column_names, inplace=True)

# Display updated column names
print(df.head())

   Lsoa_code                  Lsoa_name  \
0  E01000001        City of London 001A
1  E01000002        City of London 001B
2  E01000003        City of London 001C
3  E01000005        City of London 001E
4  E01000006  Barking and Dagenham 016A

                                            Geometry  \
0  POLYGON ((-0.097262816705372 51.52157881522085...
1  POLYGON ((-0.0881031757855782 51.5194123775888...
2  POLYGON ((-0.0967598383726936 51.5232512920432...
3  POLYGON ((-0.0732048670708826 51.5100037359235...
4  POLYGON ((0.0911789815733874 51.53908634564686...

   energy_efficiency_floor_area energy_rating_floor_area  \
0                          64.0                        D
1                          55.0                        E
2                           NaN                      NaN
3                          61.0                        D
4                           NaN                      NaN

   median_income_2011_12  number_of_individuals_2011_12  fuel_poverty_2011  \
0                    NaN                            NaN                4.0
1                    NaN                            NaN                3.8
2                    NaN                            NaN                4.6
3                    NaN                            NaN                3.3
4                    NaN                            NaN                8.9

  flat_maisonette_total house_terraced_total  ... built_1945_1954  \
0                  1040                   10  ...               -
1                  1220                   50  ...               -
2                   910                    -  ...               -
3                   690                    -  ...               -
4                   140                  380  ...              30

  built_1955_1964 built_1965_1972 built_1973_1982 built_1983_1992  \
0               -             850              10               -
1              70             910               -              10
2              20             780               -               -
3             140             110             160              80
4               -               -               -               -

  built_1993_1999 built_2000_2009 built_2010_2012  \
0              50              80               -
1               -               -             280
2              60              40               -
3               -              10              80
4             130              10               -

  Gas median consumption (kwh) Electricity median_consumption (kwh)
0                       5444.0                               3790.6
1                      15651.0                               3732.7
2                       7530.0                               2150.8
3                       3871.5                               2211.4
4                      15512.5                               3934.4

[5 rows x 26 columns]

In [17]:
# Calculate the percentage of missing values in each column
null_percentage = df.isnull().mean() * 100

# Display the columns with their null percentage
print(null_percentage)

Lsoa_code                                 0.000000
Lsoa_name                                 0.000000
Geometry                                  0.000000
energy_efficiency_floor_area             42.007755
energy_rating_floor_area                 42.007755
median_income_2011_12                   100.000000
number_of_individuals_2011_12           100.000000
fuel_poverty_2011                         0.000000
flat_maisonette_total                     0.000000
house_terraced_total                      0.000000
house_semi_detached_total                 0.000000
house_detached_total                      0.000000
built_pre_1900                            0.000000
built_1900_1918                           0.000000
built_1919_1929                           0.000000
built_1930_1939                           0.000000
built_1945_1954                           0.000000
built_1955_1964                           0.000000
built_1965_1972                           0.000000
built_1973_1982                           0.000000
built_1983_1992                           0.000000
built_1993_1999                           0.000000
built_2000_2009                           0.000000
built_2010_2012                           0.000000
Gas median consumption (kwh)              0.000000
Electricity median_consumption (kwh)      0.000000
dtype: float64